@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Acesse <a href="https://github.com/jonathandml"> github\jonathandml</a> para mais projetos meus.</p>
</div>
